
body {

	background-image: url(../resourses/body-background.jpg);
	background-color: #dedede;
	background-repeat: repeat-x;
	height: 300px;
	font-family: "sans serif";
}

#main-box {

	height: 500px;
	/*background-color: yellow;*/
}

header  {

	color: white;
	min-height: 160px;
	background-color: #1c262f;
}

header > div {

}

#c1 {
	padding-top: 5px;
}

#c2 {
	margin: 0px auto;
	padding-top: 25px;
}

#c2 > div {
	font-size: 25px;
}

.sec {
	
	width: 1000px;
	border-radius: 10px;
	margin: 30px auto;
	min-height: 500px;
	background-color: #fff;
	
}

.sec1 {

	/*border: 2px solid red;*/
	height: 50px;
	

}

.sec1 > .dd {
	/*border: 1px solid green;*/
	padding: 10px 5px 5px 5px;
	float: right;
}

.sec2 {
	
	margin: 20px auto;
}

/*#ullist , #ullist ul  {

	list-style: none;
}

 ul li {
	float: left;
	background-color: black;
	color: white;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	list-style: none;
}

 ul li ul {
	display: none;
}

ul li:hover ul {
	display: block;

}
*/
